<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3 form-floating">
        <input type="text" name="username" id="username" class="form-control" [(ngModel)]="model.username" placeholder="Username" required>
        <label for="username">Username</label>
    </div>

    <div class="mb-3 form-floating">
        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="model.password" placeholder="Password" required>
        <label for="password">Password</label>
    </div> 
    <div class="form-group text-center">
        <button class="btn btn-succes me-2" type="submit">Register</button>
        <button class="btn btn-default me-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>